---
layout: default
---
<div class="jumbotron jumbo-head">
	<div class="container">
		<h1>Careers</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-2 col-md-2">
			<ul class="nav nav-tabs nav-stacked bgc">
				<li><a href="/about.html">About Metrum</a></li>
				<li><a href="/team/index.html">The Team</a></li>
				<li><a href="/careers/index.html">Careers</a></li>
			</ul>
		</div>
		<div class="bgc bordered container-padding col-sm-10 col-md-10">
			<h3>{{ page.title }}</h3>
			<h4>{{ page.location }}</h4>
			<p>{{ content }}</p>
			
		</div>
	</div>